body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
}
.item-container {
  width: 400px;
  height: 400px;
}
.item {
  height: 100%;
}
.flex {
  display: flex;
}
.item-center {
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #1a1a2e;
}
.bg-dark-dim {
  background-color: #1a1a2e;
}

.skeou-shadow {
  border-radius: 38px;
  background: linear-gradient(145deg, #1c1c31, #171729);
  box-shadow: 17px 17px 34px #161626, -17px -17px 34px #1e1e36;
  border: 1px solid #232346;
}

.col-6 {
  width: 50%;
}

.relative {
  position: relative;
}

.left {
  width: 100px;
  height: 100px;
  background: #fff;
  transform: skewY(221deg);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.right {
  width: 100px;
  height: 100px;
  background: #fff;
  transform: skewY(319deg);
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  background: #19192b;
  top: 55%;
}
.cylinder {
  width: 4px;
  height: 16%;
  position: absolute;
  background: #19192b;
  bottom: 27%;
  border-radius: 31px;
}

.line-left {
  background: #1a1a2e;
  width: 2px;
  height: 101px;
  position: absolute;
  transform: rotate(82deg);
  left: 36.99%;
}
.line-left-big {
  background: #1a1a2e;
  width: 2px;
  height: 239px;
  position: absolute;
  transform: rotate(332deg);
  left: 53%;
  transform-origin: bottom;
}
.line-right {
  background: #1a1a2e;
  width: 2px;
  height: 101px;
  position: absolute;
  transform: rotate(98deg);
  left: 61.99%;
}
.line-right-big {
  background: #1a1a2e;
  width: 2px;
  height: 208px;
  position: absolute;
  transform: rotate(208deg);
  left: 62.5%;
}
.text {
  position: absolute;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  bottom: 7%;
  color: #fff;
}
