body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
}
.item-container {
  width: 350px;
  height: 350px;
}
.item {
  height: 100%;
}
.flex {
  display: flex;
}
.item-center {
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #1a1a2e;
}
.bg-dark-dim {
  background-color: #1a1a2e;
}

.skeou-shadow {
  border-radius: 38px;
  background: linear-gradient(145deg, #1c1c31, #171729);
  box-shadow: 17px 17px 34px #161626, -17px -17px 34px #1e1e36;
  border: 1px solid #232346;
}

.col-6 {
  width: 50%;
}
.element-container {
  display: flex;
  flex-wrap: nowrap;
}
.first-elem,
.second-elem,
.third-elem,
.fourth-elem,
.fifth-elem {
  height: 75px;
  width: 75px;
}
.first-elem {
  background-color: #f24e1e;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
.second-elem {
  background-color: #ff7262;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.third-elem {
  background-color: #a259ff;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
.fourth-elem {
  background-color: #1abcfe;
  border-radius: 100%;
}
.fifth-elem {
  background-color: #0acf83;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
