body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
}
.item-container {
  width: 400px;
  height: 400px;
}
.item {
  height: 100%;
}
.flex {
  display: flex;
}
.item-center {
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #1a1a2e;
}
.bg-dark-dim {
  background-color: #1a1a2e;
}

.skeou-shadow {
  border-radius: 38px;
  background: linear-gradient(145deg, #1c1c31, #171729);
  box-shadow: 17px 17px 34px #161626, -17px -17px 34px #1e1e36;
  border: 1px solid #232346;
}

.col-6 {
  width: 50%;
}

.circle-red {
  width: 200px;
  height: 200px;
  background-color: #db3236;
  border-radius: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 30% 60%, 0% 100%);
}
.circle-inner {
  width: 150px;
  height: 150px;
  background-color: #161626;
  border-radius: 100%;
  position: absolute;
}
.circle-yellow {
  width: 200px;
  height: 200px;
  background-color: #f4c20d;
  border-radius: 100%;
  clip-path: polygon(0% 25%, 16% 37%, 100% 100%, 0% 100%);
  position: absolute;
}

.circle-green {
  width: 200px;
  height: 200px;
  background-color: #3cba54;
  border-radius: 100%;
  clip-path: polygon(0% 77%, 44% 34%, 100% 100%, 0% 100%);
  position: absolute;
}
.circle-blue {
  width: 200px;
  height: 200px;
  background-color: #4885ed;
  border-radius: 100%;
  clip-path: polygon(15% 50%, 100% 50%, 100% 100%, 100% 100%);
  position: absolute;
}

.line {
  width: 100px;
  position: absolute;
  height: 25px;
  background: #4885ed;
  right: 0;
  border-bottom-right-radius: 10px;
}

.relative {
  position: relative;
}
